@model SpellByte.Web.ViewModels.Tempo.EditViewModel

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Edit</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="Id" class="form-control" type="hidden"/>
        <div class="form-group">
            <label asp-for="Value" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Value" class="form-control" />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Timing" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="Timing"
                        asp-items="@(Enum.GetValues(typeof(Timing))
                        .Cast<Timing>()
                        .Select(t => new SelectListItem
                        {
                            Text = t.GetAttribute<System.ComponentModel.DataAnnotations.DisplayAttribute>().Name,
                            Value = t.ToString()
                        }).ToList())"
                        class="form-control"></select>
                <span asp-validation-for="Timing" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
